# temporary files
*~
*.sw[op]

# logs
*.log

# python bytecode
*.py[cod]

# object files
*.so

# Apple / Microsoft stuff
.DS_Store
.vscode/

# Django SQL stuff
db.sqlite3
migrations/

# virtual environments
venv/

# sensitive credentials
credentials/
credentials.tar.gz

# non-toplevel static web files
www/static/*/

# scraping data
scraping/theguardian/data.json

# tags files
tags
.tags
TAGS
.TAGS
