asgiref
blinker
certifi
chardet
configobj
cryptography
Django
gunicorn
idna
Jinja2
jsonpatch
jsonpointer
MarkupSafe
oauthlib
Pillow
prettytable
pyasn1
pygobject
PyJWT
pyserial
python-debian
python-systemd
pytz
PyYAML
requests
setuptools
six
sqlparse
ssh-import-id
urllib3
wheel
