{% extends "base.html" %}

{% block content %}
<div id="landing" class="container-fluid px-4 min-vh-100">
    <h1>Welcome to Good News!</h1>
    <h2>~The News You Want To Hear~</h2>
    <div id="landing-features">
        <div>
            <h1>See Good News!</h1>
            <p>
                When you visit our site you will encounter news that the IBM tone analyzer has told us is "good".  We filtered out news that IBM labelled as "sad" or "angry".
            </p>
        </div>
        <div>
            <h1>Search for sentiments!</h1>
            <p>
                Using the dropdown in the search part of the navigation bar you can filter news based on sentiments.
            </p>
        </div>
        <div>
            <h1>3rd feature</h1>
        </div>
    </div>
    <div id="landing-about">
        <h1>About</h1>
        <p>
            As regular news readers we at Good News have noticed that a good majority of news found on popular news
            sites is negative in nature. We spoke to journalists about potential reasoning behind this and were assured
            that "blood sells". While this may be true we would like to provide an alternative to people who are not in
            the mood for negativity.
        </p>
        <p>
            Patrick and Ben, the founders of GoodNews, met at a Holberton School and decided to bring their passion for
            goodness to the public domain when tasked to work on a final school project.
        </p>
        <h2><a href="https://github.com/benjamesian/GoodNews">GitHub Repo</a></h2>
        <h1>The Team</h1>
        <h2>Patrick</h2>
        <a href="https://github.com/patrickdeyoreo">GitHub</a>
        <a href="https://www.linkedin.com/in/patrickdeyoreo/">LinkedIn</a>
        <a href="https://twitter.com/DeYoreoPatrick">Twitter</a>
        <h2>Ben</h2>
        <a href="https://github.com/benjamesian">GitHub</a>
        <a href="https://www.linkedin.com/in/jamesbencook/">LinkedIn</a>
        <a href="https://twitter.com/benjamesian">Twitter</a>
    </div>
</div>
{% endblock %}