body {
  background-color: rgba(22, 160, 252, 0.7);
  height: 100%;
  position: relative;
}
.twoLineEllipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
  height: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#landing {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
  background: linear-gradient(rgba(247, 231, 30, 0.7), rgba(22, 160, 255, 0.7)),
    url("/static/news/landing.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 30px;
  color: wheat;
  font-size: 24px;
}

#landing h1 {
  color: white;
}
