[Unit]
Description=Gunicorn instance to serve language_processing
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/data/current
Environment=GOOD_NEWS_API_HOST=localhost
Environment=GOOD_NEWS_API_SCHEMA=http
EnvironmentFile=/data/current/credentials/goodnews-auth-credentials.env
EnvironmentFile=/data/current/credentials/goodnews-ibm-credentials.env
ExecStart=/usr/bin/python3.6 -m language_processing.main

[Install]
WantedBy=multi-user.target
