[Unit]
Description=Gunicorn instance to serve language_processing
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/data/current
Environment=GOOD_NEWS_IBM_CLOUD_API_KEY=bj0gTWmYfHV03xyqZ-nnzZSQhQzMNADgwbttOH9NTWuS
Environment=GOOD_NEWS_USERNAME=admin
Environment=GOOD_NEWS_PASSWORD=adminPassword
Environment=GOOD_NEWS_API_HOST=localhost
Environment=GOOD_NEWS_API_SCHEMA=http
ExecStart=/usr/bin/python3.6 -m language_processing.main

[Install]
WantedBy=multi-user.target
