[Unit]
Description=Get recent news from the web and submit it for sentiment analysis
Documentation=man:python(1)
After=network.target

[Service]
User=ubuntu
Group=www-data
ExecStart=/usr/bin/env python3 -m scraping.main
WorkingDirectory=/data/current
